<header>
    <div class="logo"><a href="/">uFlu? </a></div>
    <span id="header-message">{{rquote}}</span>
</header>

<div id="container-fluid" class="desk-bg">
    <div class="row" id="result-content">
        <div class="col-md-12 clearfix">

            <div class="result-message1">
                <div class="message-logo">uFlu? </div>
                <div class="result-text1">Hi <span id="user-name">{{name}}</span>, <br>
                    {{resultHeader}}
                    <span id="diagnosis-result">{{severity}}</span> <br>
                    {{suggestionHeader}}<br>
                    <span id="items">{{#each cureList}}<li>{{this}}</li>{{/each}}</span>

                    <div class="qr-message">
                        Here is a <a href="http://api.qrserver.com/v1/create-qr-code/?data=uFlu%3F%20Shopping%20List%3A%20%7C%20Cough%20Drops%20%7C%20Facial%20Tissue%20%7C%20Hand%20Sanitizer%20%7C%20Decongestant%20%7C%20Pain%20Reliever&size=100x100"
                            id="teladoc-link" target="blank">QR code</a> to a list of shopping items for you.
                    </div>
                </div>
            </div>

            <div class="result-message2">
                <div class="result-text2">
                    {{medicineHeader}} <br>
                    <span id="items">{{#each medicineList}}<li>{{this}}</li>{{/each}}</span>
                </div>
            </div>

            <div class="result-message3">
                <div class="result-text3">
                    {{{showMap}}}
                </div>
            </div>


            <div class="result-message4">
                <div class="result-text4">
                    Also, if you can't contact your family doctor, try <a href="https://www.teladoc.com/" id="teladoc-link"
                        target="blank">Teladoc</a>.
                </div>
            </div>
            <div class="pad-holder"></div>
            <div class="pen"></div>
            <div class="pencil"></div>
        </div>
    </div>

</div>

<div class="footer">
    uFlu? &copy 2019 | Contact Us at &nbsp;<i class="fas fa-envelope"></i> &nbsp;<i class="fab fa-twitter"></i> &nbsp;<i
        class="fab fa-linkedin-in"></i>&nbsp;
    <i class="fab fa-facebook-square"></i>
</div>